:root {
  font-family: 'Montserrat', sans-serif;
  --font-color: #6c7289;
}

body {
  background-color: #f2eae2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 611px;
  background-color: #fff;
  border-radius: 10px;
}

.product-img {
  width: 343px;
  height: 240px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text-container {
  margin: 24px;
}

.text-container p:first-child {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  letter-spacing: 5px;
  color: var(--font-color);
}

.heading {
  margin-top: 12px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: var(--font-color);
}

.detailed-price-component {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.discount-price {
  font-family: 'Fraunces', serif;
  color: #3D8168;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.original-price {
  margin-left: 19px;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color);
  text-decoration: line-through;
}

.btn {
  background-color: #3D8168;
  color: #fff;
  border-radius: 8px;
  display: block;
  margin-top: 20px;
  width: 295px;
  height: 48px;
  font-size: 14px;
  line-height: 17.07px;
  padding: 15px 92px;
}

.btn img {
  vertical-align: -2px;
  margin-right: 11.61px;
}

.btn:hover {
  background-color: #1A4032;
  transition: all .4s ease-out;
}